$e-violet:#62466B;
$vermilion:#F24236;
$hunyadi-y:#F4AC45;
$sparagus:#73956F;
$pantone-or:#F26419;

$theme-colors: (
  "primary":    $e-violet,
  "secondary":  $pantone-or,
  "success":    $sparagus, 
  "info":       $hunyadi-y,
//   "warning":    $warning,
  "danger":     $vermilion,
//   "light":      $light,
//   "dark":       $dark
);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.hidden{
  display: none;
}